
/** {
  border: dashed 1px rgb(255, 0, 0);
}*/

/*header*/

.bg-header {
  background-color: white;
}

/*.form-box {
  width: 220px;
}*/

.form-group {
  margin-bottom: 6px;
}

.btn-login {
  width: 100px;
  background-color: #008000;
}

.clear-pad {
  padding: 0px;
}

.clear-margin {
  margin-right: 0px!important;
  margin-left: 0px!important;
}

.head-pad {
  padding-top: 20px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 767px){
  .form-horizontal{
    margin-top: 30px;
  }

  .form-box {
    width: 220px;
  }

  .btn-login {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}


/*navbar*/
.navbar-bg {
  border-radius: 0px;
  background-color: green;
  border: 0px;
  margin: 0;
}

ul.nav li.nav-pad {
  /*border-right:1px solid white;*/
}

ul > li > a > img.cart {
  width: 55px;
}

ul.nav li.nav-pad a {
  padding: 45px 20px 20px 20px;
  color: white;
  font-size: 20px;
}

ul.nav li.nav-pad a:hover {
  background-color: orange;
}

.nav-width {
  width: 100%;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
}

.navbar-default .navbar-toggle:hover{
  background-color: orange;
}

.navbar-default .navbar-toggle .icon-bar:hover {
  background-color: green;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media only screen and (max-width: 767px){
  ul.nav li.nav-pad a {
    padding: 30px 20px 20px 20px;
    font-size: 18px;
  }
}




/*promotion*/
.bg-promo {
  background-image: url("../img/pic2.jpeg");
  background-size: cover;
  height: 1000px;
  width: 100%;
}

.pic-des {
  width: 600px;
  margin-top: 80px;
  margin-left: 50px;
}

.bg-des {
  background-color: rgba(0, 0, 0, 0.8);
  color: orange;
  padding: 15px 15px;
  text-align: center;
  margin-top: 200px;
}

div.bg-des h1 {
  font-size: 70px;
}

@media only screen and (max-width: 767px){
  .bg-promo {
    height: 650px;
  }

  .pic-des {
    width: 370px;
    margin-left: 0px;
    margin-top: 70px;
  }

  .bg-des {
    padding: 15px 15px;
    text-align: center;
    margin-top: 80px;
  }

  div.bg-des h1 {
    font-size: 50px;
  }
}



/*secret*/

.bg-secret{
  background: url("../img/bg3-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.secret-topic {
  color: orange;
  font-size: 60px;
  margin-top: 80px;
}

.secret-p {
  color: white;
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-read {
  /*background-color: white;*/
  padding: 6px 25px 6px 25px;
  font-size: 20px;
}

.btn-read:hover {
  background-color: #E58904;
  color: black;
  border-color: white;
}

@media only screen and (max-width: 767px){
  .secret-topic {
    font-size: 48px;
    margin-top: 60px;
  }

  .secret-p {
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .bg-secret{
    height: 680px;
  }

  .btn-read {
    padding: 6px 25px 6px 25px;
    font-size: 18px;
  }
}


/*content*/
.bg-content {
  background: white;
}

div.bg-content h4 {
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 0px 15px;
  margin: 15px 0px;
}

div.bg-content p {
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin: 15px 0px;
  padding: 0px 15px;
}

.frame-content {
  width: auto;
  height: 250px;
  overflow: hidden;
  margin: 0px;
}

.con-btn {
  margin-bottom: 50px;
}

.con-pic1 {
  width: 400px;
}

.con-pic2 {
  width: 400px;
}

.con-pic3 {
  width: 400px;
}

.bg-frame {
  padding: 0px 8px;
  margin-top: 90px;
  margin-bottom: 90px;

}

.green {
  background-color: green;
  padding: 20px 15px;
}


div.p-content p {
  padding: 0px;
}

@media only screen and (max-width: 767px){
  .con-btn {
    margin-bottom: 35px;
  }

  div.bg-content h4 {
    font-size: 30px;
  }

  div.bg-content p {
    font-size: 18px;
    line-height: 30px;
    margin: 15px 0px;
    padding: 0px 0px;
  }

}



/*contact*/
.bg-contact {
  background-color: #272727;
  height: 700px;
}

div.contact h1 {
  font-size: 60px;
  color: orange;
  margin-top: 70px;
}

div.contact h3 {
  font-size: 36px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.contact ul {
  list-style: none;
  padding-left: 0px;
}

div.contact ul li {
  color: white;
  font-size: 20px;
}

div.contact li span {
  margin-right: 15px;
}

div.contact a img {
  margin-right: 12px;
  margin-top: 30px;
}

.map {
  width: 600px;
  height: 370px;
}

@media only screen and (max-width: 767px){
  .bg-contact {
    height: 980px;
  }

  div.contact h1 {
    font-size: 50px;
    margin-top: 60px;
  }

  div.contact h3 {
    font-size: 32px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  div.contact ul li {
    font-size: 18px;
  }

  .map {
    width: 370px;
    height: 280px;
  }
  .map-top {
    margin-top: 70px;
  }

  div.contact a img {
    width: 40px;
  }

}



/*footer*/
.bg-footer {
  background-color: green;
}

div.bg-footer p {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px){
  div.bg-footer p {
    font-size: 18px;
  }
}
